*{
    margin:0;
    box-sizing:border-box;
}

body{
    display: grid;
    justify-content: center;
}
.contenedor{
    display: grid;
    width: 40vw;
    border: 1px solid black;
    padding-left: 10px;
    padding:25px;
    border-radius: 10px;
    box-shadow: 5px 5px #00000049;
    margin-bottom: 30px;
    margin-top: 30px;
}

.formulario{
    place-self: center;
    display: grid;
    row-gap: 20px;
}

img{
    width: 200px;
}